:root{
    --var--background:#302aaf;
    --var--footer:#21165e;
    --var--brands:#eff1ff;
    --var--colorpayment:#ffc438;
}
.continue__shopping :hover{
    color: var(--var--background);
}
.cart__payment  {
    background-color: var(--var--brands);
}
.cart__payment button{
    height: 50px;
    width: 100%;
}
.cart__payment button:first-child{
    background-color: var(--var--footer);
    color: #fff;
}
.cart__payment button:last-child{
    background-color: var(--var--colorpayment);
}
.cart__sum p{
    width: 50%;
}
@media only screen and(max-width: 1120px) {


}

.list__address{
    border-radius: 10px;
    background-color: #ffca2c ;
}
.add_address{
    border-radius: 10px;
    /*background-color: #0dcaf0 !important;*/

}
.choose__address{
    background-color: #0dcaf0;
}
NavLink{
    color: black;
}