.cart__add p{
    margin: 0;
}
@media only screen  and(max-width: 1000px){
   .detail .watch {
       display: none !important;
       background-color: yellow;
       width: 100% !important;
       height: 250px !important;
   }
}
