:root{
    --var--background:#302aaf;
    --var--footer:#21165e;
    --var--brands:#eff1ff;
    --var--decor:#eee;
}

.header{
    background-color: var(--var--background);
    height: 130px;
    padding-top: 20px;
}
.search{
    position: relative;
}
.form--search button{
    position: absolute;
    right: 10px;
    padding-top: 0px;

}
.form--search img{
    position: absolute;
    right: 2px;
    top:0;
    padding-top: 0px;


}
.cart__shopping .cart{
    background-image: url(https://img.fragrancex.com/images/assets/ui/cart.svg) ;
    background-repeat: no-repeat;
    text-decoration: none;
    margin-top: 20px;
}
.cart__shopping .count{
    width: 20px;
    height: 20px;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    margin-top: -15px;
    margin-left: 10px;
    background-color: #ffc800;
    border-radius: 50%;
}
.header__second li{
    margin-left: 10px;
}
.header .navbar{
    margin-bottom: 0px !important;
}
.header__second a:hover{
    text-decoration: underline;
}
.menu_show{
    position: relative;
    z-index: 10;
    /*height: 200px;*/
    /*width: auto;*/
    background-color: #fff;
    border: var(--var--decor) solid 2px;
    border-top: none;
    border-radius: 5px;
    margin-top: 5px;
    display: none;
}
.menu_show a{
    /*width: 50px;*/
    /*height: 30px;*/
    margin: 5px;
    font-size: 15px;

}
.menu_show a:hover{
    background-color: var(--var--brands);
    text-decoration: underline !important;
    border-radius: 50%;
}
.btn__brands:hover{
    cursor: pointer;
    width: 200px;
}

#demo {
    padding-left:  0px;
    padding-right:0px

}
/* footer */
.footer{
    background-color: var(--var--footer);
    padding-top: 80px;

}
.infomation  div > a{
    text-decoration: none ;
    color: #ffff;
}
.infomation div > a:hover{
    text-decoration: underline ;
}

.icon__contact i{
    width: 50px;
    height: 50px;
    font-size: 40px;
    margin-top: 10px;
    margin-left: 10px;
}
.coupon form {
    position: relative;
}
.coupon form input{
    position: relative;
}
.coupon form button{
    position: absolute !important;
    background-color: #ffc800 !important;
    right: 0;
}
.copyright{
    background-color: var(--var--background);
}


/* brands */
.brands{
    background-color: var(--var--brands);
}
.brands__detail {


}
.brands__detail img{
    width: 150px;
    height: 150px;
}
.brands__detail .part{
    background-color: #fff;
    width: 350px;
    height: 160px;

}
.brands__detail .brands__name {
    margin: auto;
    color: #fff;
}
.bestsaler{
    z-index: 1;
}

.bestsaler__product{
    width: 100%;
}
.button button{
    font-size:  30px;
    padding:10px 10px;
    position: relative;
    box-sizing: border-box;
    border: none;
    background-color: transparent;

}
.button button i{
    width: 20px;


}
.button button:hover{
    background-color: #cdcdcd54;
    border-radius: 30px;


}
.button button:first-child{
    position: absolute;
    left: -5px;
    width: 40px;
    height: 100%;
}
.button button:last-child{
    position: absolute;
    right: -5px;
    height: 100%;
}


@media only screen and (max-width: 1200px){

    .bestsaler__product-detail img{
        width: 200px;
        height: 200px;
    }
}
@media only screen and (max-width: 990px){
    .bestsaler__product{
        width: 100%;
    }
    .bestsaler__product-detail{
        flex: 0 0 auto;
        width:33.33333% !important;
    }
}
@media only screen and (max-width: 770px){
    .bestsaler__product{
        width: 100%;
    }
    .bestsaler__product-detail{
        flex: 0 0 auto;
        width:100% !important;
    }
    .bestsaler__product-detail img{
        width: 250px;
        height: 250px;
    }
}


.product__review{
    float: left;
    position: relative;
    display: block;
    box-sizing: border-box;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-block-start: 0;
    padding-block-end: 0;
    padding-inline-start: 0;
    padding-inline-end: 0;
    width: 100%;
}
.product__star{
    position: relative;
    width: 75px;
    background-image: url(https://img.fragrancex.com/images/stars-background.svg);
    background-repeat: repeat-x;
    background-position: left center;
    /*margin: auto;*/
}
.star__total{
    background-image: url(https://img.fragrancex.com/images/stars-value.svg);
    background-repeat: repeat-x;
    background-position: left center;
    height: 20px;
}
.review__count{
    margin-left: 5px;
}




/*show menu*/
.btn__menu p{
    width: 40px;
    height: 2px;
    margin: 10px;
    background-color: white;
    display: none;
}
.offcanvas{
    background-color: var(--var--background);
    color: #ffff;
}

/*responsive*/
@media only screen and (max-width: 1115px) {
    .header{
        height: 170px;
        position: relative;
    }
    .btn__menu p{
        display: block;
    }
    .search{
        width: 95%;
        margin: auto;
    }
    .cart{
        position: absolute;
        top:10px;
        right: 50px;
    }
    .header .logo img{
        margin-top: 15px;
    }
    .express{
        display: none;
    }

}
@media only screen and (max-width: 1025px) {
  .header__second li{
      width: auto !important;
  }

}
@media only screen and (max-width: 600px) {
    .header__second ul{
        display: flex !important;
        flex-direction: row;
        width: 100% !important;
        position: relative;
        box-sizing: border-box;
    }
    .header__second li{
        width: 170px !important;
        /*margin: 0;*/
    }
    .header__second li:last-child{
        display: none;
    }


}
