html,body{
    height: 100%;
    min-height: 100%;
    box-sizing: border-box;

}
#root{
    min-height: 100%;
    width: 100%;
    box-sizing: border-box;

}
#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
}
#addProduct{
    z-index: 10;
}
.contact-form .table-title {
    z-index: 1;
}
.nav-link {
    color: black;
}
.detail{
    position: fixed;
    top: 200px;
    height: auto;
    background-color: #ffc800;
}
.list__address{
    background-color: #ffca2c !important;
}
.shipping{
    height: 100px !important;
    overflow: hidden;
}
.line__tr th{
    height: 400px !important;
    overflow: hidden;
}
.repair{
    position: fixed;
    top: 10%;
    height: 75%;
    background-color: #ffc800;
    overflow: scroll;
}